.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1487621167305-5d248087c724?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1778&q=80");
  background-size: cover;
  &__title {
    font-size: 50px;
    color: rgb(76, 76, 76);
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(78, 77, 77);
  }
  &__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  form > label {
    margin: 10px 0;
    color: rgb(76, 75, 75);
    font-size: 12px;
  }
  &__input {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.286);
    border: none;
    border-radius: 10px;
  }
  &__input:focus {
    outline: none;
  }
  &__button {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    &:hover {
      background-color: rgb(2, 112, 112);
    }
  }
  &__loginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }
}
