.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1482192596544-9eb780fc7f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  &__title {
    font-size: 50px;
    color: rgb(76, 76, 76);
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(78, 77, 77);
  }
  &__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  form > input {
    margin: 0 10px;
  }
  &__input {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.313);
    border: none;
    border-radius: 10px;
    &:focus {
      outline: none;
    }
  }
  &__form > label {
    margin: 20px;
    font-size: 20px;
  }
  &__button {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px 34px;
    border: none;
    border-radius: 10px;
    text-align: center;
    &:hover {
      background-color: rgb(226, 111, 111);
      transform: scale(1);
    }
  }
  &__registerButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }
}
